.mainContent {
    background-color: #b8b9bb;
    height: inherit;
    display: flex;
    width: inherit;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h1,
    section {
        display: flex;
        align-items: center;
        height: 90%;
    }

    section {
        align-items: flex-start;
        border-radius: 4px;
        margin: 1rem;
        background: lightgrey;
        height: fit-content;
    }


    h3 {
        margin: 0;
        padding: 0;
        display: flex;
        height: 10%;
        justify-content: center;
        align-items: center;
    }

    h1 {
        margin: 0;
        height: 10%;
        padding: 0;
        display: flex;
        background-color: white;
        width: 100%;
        justify-content: center;
    }

    .addProductButton {
        display: flex;
        width: 60%;
        justify-content: flex-end;

        button {
            width: 6.5rem;
            height: 1.8rem;
            display: flex;
            justify-content: space-around;
            align-items: center;
            border: none;
            border-radius: 4px;
            background: #4760a1;
            color: white;
            margin-right: 1rem;

            svg {
                stroke-width: 4px;
            }
        }
    }

    .tableProducts{
        height: 90%;
        width: 60%;
    }
}